* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: white;
}

body {
  background-color: lightgray;
  width: 70%;
  margin: 0 auto;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo .left {
  display: flex;
  flex-direction: row;
}
header .logo .left img {
  height: 50px;
}
header .logo .left h2 {
  font-size: 30px;
}
header .logo .right img {
  border-radius: 50%;
  height: 50%;
}
header .navbar ul {
  display: flex;
  list-style-type: none;
  margin-left: 15px;
}

footer {
  width: 70%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .right ul {
  display: flex;
  list-style-type: none;
}
footer .right ul li {
  font-size: 8px;
}
footer .left img {
  height: 50%;
}
main .paragraph {
  margin-bottom: 20px;
}
