footer{
	width: 70%;
	margin: 0 auto;
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	.right{
		ul{
			display: flex;
			list-style-type: none;
			li{
				font-size: 8px;
			}
		}
	}
	.left{
		img{
			height: 50%;
		}
		select{

		}
	};
}