header{
	.logo{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left{
			display: flex;
			flex-direction: row;
			img{
				height: 50px;
			}
			h2{
				font-size: 30px;
			}
		}
		.right{
			img{
				border-radius: 50%;
				height: 50%;
			}
		}
	}
	.navbar{
		ul{
			display: flex;
			list-style-type: none;
			margin-left: 15px;
		}
	}
}